#cloud-config

coreos:
  update:
    reboot-strategy: off
  etcd:
    discovery: <%= discovery_url %>
    addr: $public_ipv4:4001
    peer-addr: $public_ipv4:7001
  fleet:
    public-ip: $public_ipv4
  units:
    - name: etcd.service
      command: start
    - name: fleet.service
      command: start
    - name: docker-tcp.socket
      command: start
      enable: true
      content: |
        [Unit]
        Description=Docker Socket for the API

        [Socket]
        ListenStream=2375
        Service=docker.service
        BindIPv6Only=both

        [Install]
        WantedBy=sockets.target
    - name: docker.service
      command: restart
      content: |
        [Unit]
        Description=Docker Application Container Engine
        Documentation=http://docs.docker.io
        Requires=docker.socket

        [Service]
        Environment="TMPDIR=/var/tmp/"
        ExecStartPre=/bin/mount --make-rprivate /
        ExecStartPre=-/usr/bin/ip link set dev docker0 down
        ExecStartPre=-/usr/sbin/brctl delbr docker0
        LimitNOFILE=1048576
        LimitNPROC=1048576
        # Run docker but don't have docker automatically restart
        # containers. This is a job for systemd and unit files.
        ExecStart=/usr/bin/docker --daemon --storage-driver=btrfs --host=fd:// --bip=<%= docker_bip_arg %>
<% docker_bip_routes.each do |route| -%>
        ExecStartPost=-/usr/bin/ip route add <%= route %>
<% end -%>

        [Install]
        WantedBy=multi-user.target
    - name: skydns.service
      command: start
      content: |
        [Unit]
        Description=DNS discovery service
        After=docker.service
        Requires=docker.service

        [Service]
        EnvironmentFile=/etc/environment
        ExecStartPre=-/usr/bin/docker rm -f skydns
        ExecStartPre=-/usr/bin/docker pull <%= registry_mirror %>sheldonh/skydns
        ExecStartPre=-/usr/bin/etcdctl set /skydns/config '{"ttl":1}'
        ExecStart=/usr/bin/docker run --name skydns \
          -p ${COREOS_PRIVATE_IPV4}:53:53/udp \
          -e SKYDNS_ADDR=0.0.0.0:53 \
          -e SKYDNS_DOMAIN=<%= skydns_domain %> \
          -e SKYDNS_NAMESERVERS=8.8.8.8:53,8.8.4.4:53 \
          -e ETCD_MACHINES=http://${COREOS_PRIVATE_IPV4}:4001 \
          <%= registry_mirror %>sheldonh/skydns
        ExecStop=-/usr/bin/docker stop skydns

        [Install]
        WantedBy=multi-user.target
    - name: registrator.service
      command: start
      content: |
        [Unit]
        Description=DNS registrator service
        After=docker.service
        Requires=docker.service

        [Service]
        EnvironmentFile=/etc/environment
        ExecStartPre=-/usr/bin/docker rm -f registrator
        ExecStartPre=-/usr/bin/docker pull <%= registry_mirror %>sheldonh/registrator
        ExecStart=/usr/bin/docker run \
          --name registrator \
          -h ${HOSTNAME} \
          -v /var/run/docker.sock:/tmp/docker.sock \
          <%= registry_mirror %>sheldonh/registrator -internal skydns2://${COREOS_PRIVATE_IPV4}:4001/<%= skydns_domain %>
        ExecStop=-/usr/bin/docker stop registrator

        [Install]
        WantedBy=multiuser.target
