#cloud-config

coreos:
  update:
    reboot-strategy: off
  etcd:
    discovery: <%= discovery_url %>
    addr: $public_ipv4:4001
    peer-addr: $public_ipv4:7001
  fleet:
    public-ip: $public_ipv4
    metadata: hosts=redis-1
  units:
    - name: etcd.service
      command: start
    - name: fleet.service
      command: start
    - name: docker-tcp.socket
      command: start
      enable: true
      content: |
        [Unit]
        Description=Docker Socket for the API

        [Socket]
        ListenStream=2375
        Service=docker.service
        BindIPv6Only=both

        [Install]
        WantedBy=sockets.target
    - name: docker.service
      command: restart
      content: |
        [Unit]
        Description=Docker Application Container Engine
        Documentation=http://docs.docker.io
        Requires=docker.socket

        [Service]
        Environment="TMPDIR=/var/tmp/"
        ExecStartPre=/bin/mount --make-rprivate /
        ExecStartPre=-/usr/bin/ip link set dev docker0 down
        ExecStartPre=-/usr/sbin/brctl delbr docker0
        LimitNOFILE=1048576
        LimitNPROC=1048576
        # Run docker but don't have docker automatically restart
        # containers. This is a job for systemd and unit files.
        ExecStart=/usr/bin/docker --daemon --storage-driver=btrfs --host=fd:// <%= registry_mirror.length > 0 ? "--registry-mirror=http://#{registry_mirror}" : "" %>

        [Install]
        WantedBy=multi-user.target
    - name: skydns.service
      command: start
      content: |
        [Unit]
        Description=DNS discovery service
        After=docker.service
        Requires=docker.service

        [Service]
        TimeoutStartSec=0
        EnvironmentFile=/etc/environment
        ExecStartPre=-/usr/bin/docker rm -f skydns
        ExecStartPre=-/usr/bin/docker pull skynetservices/skydns
        ExecStart=/usr/bin/docker run --name skydns \
          -p ${COREOS_PRIVATE_IPV4}:53:53/udp \
          -e SKYDNS_ADDR=0.0.0.0:53 \
          -e SKYDNS_DOMAIN=<%= skydns_domain %> \
          -e SKYDNS_NAMESERVERS=8.8.8.8:53,8.8.4.4:53 \
          skynetservices/skydns -machines http://${COREOS_PRIVATE_IPV4}:4001
        ExecStop=-/usr/bin/docker stop skydns

        [Install]
        WantedBy=multi-user.target
    - name: registrator.service
      command: start
      content: |
        [Unit]
        Description=DNS registrator service
        After=docker.service
        Requires=docker.service

        [Service]
        TimeoutStartSec=0
        EnvironmentFile=/etc/environment
        ExecStartPre=-/usr/bin/docker rm -f registrator
        ExecStartPre=-/usr/bin/docker pull sheldonh/registrator
        ExecStart=/usr/bin/docker run \
          --name registrator \
          -h %H \
          -v /var/run/docker.sock:/tmp/docker.sock \
          sheldonh/registrator -ttl=30 -ttl-refresh=15 skydns2://${COREOS_PRIVATE_IPV4}:4001/<%= skydns_domain %>
        ExecStop=-/usr/bin/docker stop registrator

        [Install]
        WantedBy=multiuser.target
write_files:
  - path: /etc/ssh/sshd_config
    permissions: 0600
    owner: root:root
    content: |
      UsePrivilegeSeparation sandbox
      Subsystem sftp internal-sftp
      ClientAliveInterval 180
      UseDNS no
