[Unit]
Description=Redis cluster 1 dictator
After=registrator.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment=UNIT=redis-1-dictator
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f ${UNIT}
ExecStartPre=/usr/bin/docker pull sheldonh/redis-dictator
ExecStart=/usr/bin/docker run --name ${UNIT} \
	-e SERVICE_NAME=${UNIT} \
	--dns ${COREOS_PRIVATE_IPV4} \
	--dns-search docker \
	-p ${COREOS_PRIVATE_IPV4}::8080 \
	sheldonh/redis-dictator
ExecStop=/usr/bin/docker stop ${UNIT}

[X-Fleet]
MachineMetadata=hosts=redis-1
