[Unit]
Description=Redis cluster 1 node
After=docker.service
Requires=docker.service

# XXX REDIS_PREFERRED_MASTER_HOST is only required because redis seems to ignore search path in /etc/resolv.conf when it resolves SLAVEOF
[Service]
Environment=UNIT=redis-1-node-%i
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f ${UNIT}
ExecStart=/usr/bin/docker run --name ${UNIT} \
	-e SERVICE_NAME=redis-1 \
	-e SERVICE_ID=node-%i \
	-e REDIS_PREFERRED_MASTER_HOST=node-1.redis-1.docker \
	-e REDIS_PREFERRED_SERVICE_ID=node-1 \
	--dns=172.17.8.101 --dns=172.17.8.102 --dns=172.17.8.103 --dns-search=docker \
	--volumes-from=redis-1-node-data \
	--volumes-from=redis-1-node-config \
	172.17.8.1:5000/redis /bin/sh -c ' \
		if [ ! -s /etc/redis/redis.conf ]; then \
			if [ "$${SERVICE_ID}" != "$${REDIS_PREFERRED_SERVICE_ID}" ]; then \
				echo slaveof $${REDIS_PREFERRED_MASTER_HOST} 6379 > /etc/redis/redis.conf; \
			fi; \
			echo appendonly yes >> /etc/redis/redis.conf ; \
		fi && \
		redis-server /etc/redis/redis.conf
ExecStop=/usr/bin/docker stop ${UNIT}

[X-Fleet]
Conflicts=redis-1-node@*.service
