[Unit]
Description=Redis cluster 1 topology observer
After=skydns.service
Requires=skydns.service

[Service]
Environment=UNIT=redis-1-topology-observer
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f ${UNIT}
ExecStartPre=/usr/bin/docker pull sheldonh/etcd-trigger
ExecStart=/usr/bin/docker run --name ${UNIT} \
	-e DNS=${COREOS_PRIVATE_IPV4} \
	-e ETCD_MACHINES=http://${COREOS_PRIVATE_IPV4}:4001 \
	-e TRIGGER=/config/redis-1/topology-trigger \
	-e READ=/config/redis-1/topology \
	-e NOTIFIES=http://redis-1-dictator.docker/master,http://redis-1-dnsd.docker/dns \
	sheldonh/etcd-trigger
ExecStop=/usr/bin/docker stop ${UNIT}

[X-Fleet]
MachineMetadata=hosts=redis-1
