[Unit]
Description=Redis cluster 1 DNS observer
After=redis-1-topology-observer.service
Require=redis-1-topology-observer.service

[Service]
Environment=UNIT=redis-1-dns-observer
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f ${UNIT}
ExecStartPre=/usr/bin/docker pull 172.17.8.1:5000/sheldonh/etcd-toucher
ExecStart=/usr/bin/docker run --name ${UNIT} \
	-e ETCD_PEERS=http://${COREOS_PRIVATE_IPV4}:4001 \
	-e WATCH_KEY=/skydns/docker/redis-1 \
	-e WATCH_RECURSIVE=/skydns/docker/redis-1 \
	-e WATCH_ACTION=set \
	-e TOUCH_KEY=/config/redis-1/topology \
	172.17.8.1:5000/sheldonh/etcd-toucher
ExecStop=/usr/bin/docker stop ${UNIT}

[X-Fleet]
MachineOf=redis-1-topology-observer.service
