[Unit]
Description=Redis cluster 1 dnsd
After=registrator.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment=UNIT=redis-1-dnsd
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f ${UNIT}
ExecStartPre=/usr/bin/docker pull sheldonh/redis-dnsd
ExecStart=/usr/bin/docker run --name ${UNIT} \
	-e SERVICE_NAME=${UNIT} \
	-e ETCD_PEERS=http://${COREOS_PRIVATE_IPV4}:4001 \
	-e PUBLISH_DOMAIN=redis-1.docker \
	-p ${COREOS_PRIVATE_IPV4}::8080 \
	sheldonh/redis-dnsd
ExecStop=/usr/bin/docker stop ${UNIT}

[X-Fleet]
MachineMetadata=hosts=redis-1
