[Unit]
Description=Redis cluster 1 dictator
After=docker.service
Require=docker.service

[Service]
Environment=UNIT=redis-1-dictator
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f ${UNIT}
ExecStartPre=/usr/bin/docker pull 172.17.8.1:5000/sheldonh/redis-dictator
ExecStart=/usr/bin/docker run --name ${UNIT} \
	-e SERVICE_NAME=${UNIT} \
	-P \
	172.17.8.1:5000/sheldonh/redis-dictator
ExecStop=/usr/bin/docker stop ${UNIT}
