[Unit]
Description=Redis cluster 1 node
After=docker.service
Requires=docker.service

[Service]
Environment=UNIT=redis-1-node
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f ${UNIT}
ExecStart=/usr/bin/docker run --name ${UNIT} \
	-e SERVICE_NAME=redis-1 \
	-h %H \
	--volumes-from=redis-1-node-data \
	--volumes-from=redis-1-node-config \
	172.17.8.1:5000/redis \
		redis-server /etc/redis/redis.conf
ExecStop=/usr/bin/docker stop ${UNIT}

[X-Fleet]
Global=true
