[Unit]
Description=Redis cluster 1 node config
After=docker.service
Requires=docker.service

[Service]
Environment=UNIT=%p
TimeoutStartSec=0
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/docker pull 172.17.8.1:5000/sheldonh/dvc
ExecStart=/bin/sh -c '/usr/bin/docker inspect ${UNIT} >/dev/null 2>&1 \
	|| /usr/bin/docker run --name ${UNIT} -v /etc/redis 172.17.8.1:5000/sheldonh/dvc /etc/redis:755:999:999'

[X-Fleet]
Global=true
